* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #dcdddc;
}

/* Header */

.logo {
    padding: 10px 30px;
}

header {
    background-color: #2C4847;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

/*  Barra de busqueda */

.btn {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn input[type="text"] {
    width: 75%;
    padding: 10px 20px;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 45px;
    outline: none;
    box-sizing: border-box;
    margin-left: -10%;
}

.btn input[type="text"]::placeholder {
    color: #adafad;
    position: relative;
}

.btn button {
    background-color: #869B67;
    border-radius: 50%;
    border: none;
    padding: 3.5px 5px;
    position: absolute;
    top: calc(29% - 10px);
    left: calc(65% + 75px);
}

.btn button img {
    width: 29px;
    height: 29px;
    transition: filter 0.3s ease;
}

.btn button img:hover {
    filter: brightness(70%);
}

/* Menu */

nav .menu {
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav .menu li {
    padding: 0 25px;
}

/* Iconos del menú */

.menu_icon i, .carrito_icon i, .cuenta_icon i {
    font-size: 35px; 
    color: #5e6c48; 
    transition: color 0.3s ease;
    padding: 4px 10px 0 ;
}

.menu_icon i:hover, .carrito_icon i:hover, .cuenta_icon i:hover {
    color: #7a8b60; 
}

/* Top ventas */

.sub_titulo1 {
    text-align: center;
    font-weight: 900;
    font-size: 35px;
    margin: 35px 0;
    color: #799277;
    display: block;
}

/* Carrusel */

.carrusel_container {
    position: relative;
    max-width: 1260px;
    margin: 20px auto;
    overflow: hidden;
    background-color: #2C4847;
    border-radius: 40px;
    box-shadow: 0 4px 8px #233b3b;
    padding: 20px;
    color: #F1EFD1;
}

.carrusel {
    display: flex;
    transition: transform 0.5s ease;
}

.carrusel_items {
    display: flex;
    width: 100%;
}

.carrusel_item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px;
}

.carrusel_item img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.carrusel_detalles {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 2000px;
}

.carrusel_item, .destacados_item{
    padding: 10px;
}

/* Libros */

.libro_titulo {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.libro_resumen {
    font-size: 12px;
    margin-bottom: 10px;
}

.libro_puntuacion {
    font-size: 14px;
    margin-bottom: 5px;
}

.libro_precio {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* Botones */

.botones_libro {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn_comprar {
    background-color: #799277;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    color: #F1EFD1;
    transition: filter 0.3s ease;
}

.btn_comprar:hover {
    filter: brightness(70%);
}

.btn_guardar {
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-items: center;
    display: flex;
}

.btn_guardar img {
    width: 20px;
    height: 30px;
    transition: filter 0.3s ease;
}

.btn_guardar img:hover {
    filter: brightness(70%);
}

/* Carrusel botones - indicadores*/

.carrusel_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #F1EFD1;
    background-color: #2C4847;
    border: none;
    padding: 11px;
    cursor: pointer;
    z-index: 1;
}

.carrusel_btn.prev {
    left: 0;
}

.carrusel_btn.next {
    right: 0;
}

.carrusel_indicadores {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.indicador {
    width: 10px;
    height: 10px;
    background-color: #869B67;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.indicador.active {
    background-color: #799277;
}

/* Banner */
.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;

}

.banner img {
    width: 100%;
    max-width: 1200px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #e4e9e4ab;
    box-shadow: 0 3px 6px #bfc2bf9d;
    margin-top: 80px;
}

/* Destacados */

.sub_titulo {
    text-align: left;
    font-weight: 900;
    font-size: 35px;
    margin: 95px 80px 0;
    color: #799277;
    display: block;
}

/* destacados Container*/

.destacados_container {
    position: relative;
    max-width: 1220px;
    margin: 20px auto;
    overflow: hidden;
    background-color: #2C4847;
    border-radius: 40px;
    padding: 10px;
    color: #F1EFD1;
}

.destacados{
    display: flex;
    flex-wrap: nowrap;
}

.destacados_items {
    display: flex;
    width: 50%;
}

.destacados_item {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 20px;
}

.destacados_item img {
    width: 140px;
    height: 150px;
    border-radius: 10px;
}

.destacados_detalles {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/* Botones destacados*/

.btn_guardar {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btn_guardar img {
    width: 20px;
    height: 30px;
    transition: filter 0.3s ease;
}

.btn_guardar img:hover {
    filter: brightness(70%);
}

.destacados_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2C4847;
    color: #F1EFD1;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.destacados_btn.prev {
    left: 0px;
}

.destacados_btn.next {
    right: 10px;
}

.btn_comprar:hover {
    filter: brightness(70%);
}

/* menú desplegable */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 60px; 
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}
