<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/buho.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Word Words</title>
</head>
<body>

<!-- Header -->

    <header>
        <div class="logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/WorldWords.png') }}" width="65%" alt="World Words">
            </a>
        </div>

    <div class="btn">
        <input type="text" placeholder="Autor, título, género...">
        <button type="submit"><img src="{{ url_for('static', filename='img/lupa.png') }}" alt="Buscar"></button>
    </div>

<!-- Menu -->

    <nav>
        <ul class="menu">
            <li class="menu_icon"><i class="fas fa-bars" id="menu-btn"></i></li>
            <li class="carrito_icon"><a href="{{ url_for('carrito') }}"><i class="fas fa-shopping-cart"></i></a></li>                
            <li class="cuenta_icon" id="openModal"><i class="fas fa-user"></i></li>
        </ul>
    </nav>

<!-- Menu Desplegable Categorías -->

<div id="menu_desplegable" class="menu_categorias hidden">
    <ul>
        <li><a href="#" class="categoria" data-categoria="romance">Romance</a></li>
        <li><a href="#" class="categoria" data-categoria="accion">Acción</a></li>
        <li><a href="#" class="categoria" data-categoria="ficcion">Ficción</a></li>
        <li><a href="#" class="categoria" data-categoria="fantasia">Fantasía</a></li>
    </ul>
</div>

    </header>

<h2 class="sub_titulo1">Top Ventas</h2>

<!-- Carrusel Principal -->

<div class="carrusel_container">
    <div class="carrusel">
        <div class="carrusel_items" >

<div class="carrusel_item" data-categoria="ficcion">
    <div class="carrusel_detalles">
        <h3 class="libro_titulo">
            <a href="{{ url_for('detalle_libro', id=1) }}">La Canción De Aquiles</a> 
        </h3>
        <a href="{{ url_for('detalle_libro', id=1) }}"> 
            <img src="{{ url_for('static', filename='img/libro1.jpeg') }}" alt="La Canción De Aquiles">
        </a>

        <div class="libro_puntuacion">                         
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>

        <div class="libro_precio">$7.990</div>
        <div class="botones_libro">
            <button class="btn_comprar">Comprar</button>
            <button class="btn_guardar"><img src="{{ url_for('static', filename='img/guardar_icon.png') }}" alt="Guardar"></button>
        </div>
    </div>
</div>

<div class="carrusel_item" data-categoria="fantasia">
    <div class="carrusel_detalles">
        <h3 class="libro_titulo">
            <a href="{{ url_for('detalle_libro', id=2) }}">Alas De Hierro (2)</a> 
        </h3>
        <a href="{{ url_for('detalle_libro', id=2) }}"> 
            <img src="{{ url_for('static', filename='img/libro2.webp') }}" alt="Alas De Hierro">
        </a>

        <div class="libro_puntuacion">                        
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>

        <div class="libro_precio">$5.990</div>
            <div class="botones_libro">
                <button class="btn_comprar">Comprar</button>
                <button class="btn_guardar"><img src="{{ url_for('static', filename='img/guardar_icon.png') }}"></button>
            </div>
    </div>
</div>

<div class="carrusel_item" data-categoria="fantasia">
    <div class="carrusel_detalles">
        <h3 class="libro_titulo">
            <a href="{{ url_for('detalle_libro', id=3) }}">El Principe Cruel</a> 
        </h3>
        <a href="{{ url_for('detalle_libro', id=3) }}"> 
            <img src="{{ url_for('static', filename='img/libro3.webp') }}" alt="El Principe Cruel">
        </a>

        <div class="libro_puntuacion">                        
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>

        <div class="libro_precio">$6.990</div>
            <div class="botones_libro">
                <button class="btn_comprar">Comprar</button>
                <button class="btn_guardar"><img src="{{ url_for('static', filename='img/guardar_icon.png') }}"></button>
            </div>
    </div>
</div>

<div class="carrusel_item" data-categoria="ficcion">
    <div class="carrusel_detalles">
        <h3 class="libro_titulo">
            <a href="{{ url_for('detalle_libro', id=4) }}">Indigno De Ser Humano</a> 
        </h3>
        <a href="{{ url_for('detalle_libro', id=4) }}"> 
            <img src="{{ url_for('static', filename='img/libro9.jpeg') }}" alt="Indigno De Ser Humano">
        </a>

        <div class="libro_puntuacion">    
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>

        <div class="libro_precio">$5.990</div>
            <div class="botones_libro">
                <button class="btn_comprar">Comprar</button>
                <button class="btn_guardar"><img src="{{ url_for('static', filename='img/guardar_icon.png') }}"></button>
            </div>
    </div>
</div>

<div class="carrusel_item" data-categoria="ficcion">
    <div class="carrusel_detalles">
        <h3 class="libro_titulo">
            <a href="{{ url_for('detalle_libro', id=5) }}">Destroza Me</a> 
        </h3>

        <a href="{{ url_for('detalle_libro', id=5) }}"> 
            <img src="{{ url_for('static', filename='img/libro4.jpeg') }}" alt="Destroza Me">
        </a>

        <div class="libro_puntuacion">                         
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>

        <div class="libro_precio">$7.990</div>
            <div class="botones_libro">
                <button class="btn_comprar">Comprar</button>
                <button class="btn_guardar"><img src="{{ url_for('static', filename='img/guardar_icon.png') }}"></button>
            </div>
    </div>
</div>

<div class="carrusel_item" data-categoria="romance">
    <div class="carrusel_detalles">
        <h3 class="libro_titulo">
            <a href="{{ url_for('detalle_libro', id=6) }}">Un Cuento Perfecto</a> 
        </h3>

        <a href="{{ url_for('detalle_libro', id=6) }}"> 
            <img src="{{ url_for('static', filename='img/libro5.jpeg') }}" alt="Un Cuento Perfecto">
        </a>

        <div class="libro_puntuacion"> 
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>

        <div class="libro_precio">$4.990</div>
            <div class="botones_libro">
                <button class="btn_comprar">Comprar</button>
                <button class="btn_guardar"><img src="{{ url_for('static', filename='img/guardar_icon.png') }}"></button>
            </div>
    </div>
</div>

<div class="carrusel_item" data-categoria="fantasia">
    <div class="carrusel_detalles">
        <h3 class="libro_titulo">
            <a href="{{ url_for('detalle_libro', id=7) }}">La Hija De La Diosa De La Luna</a> 
        </h3>

        <a href="{{ url_for('detalle_libro', id=7) }}"> 
            <img src="{{ url_for('static', filename='img/libro8.png') }}" alt="La Hija De La Diosa De La Luna">
        </a>

        <div class="libro_puntuacion">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>

            <div class="libro_precio">$6.990</div>
                <div class="botones_libro">
                    <button class="btn_comprar">Comprar</button>
                    <button class="btn_guardar"><img src="{{ url_for('static', filename='img/guardar_icon.png') }}"></button>
                </div>
    </div>
</div>

<div class="carrusel_item" data-categoria="novela">
    <div class="carrusel_detalles">
        <h3 class="libro_titulo">
            <a href="{{ url_for('detalle_libro', id=8) }}">Tan Poca Vida</a> 
        </h3>

        <a href="{{ url_for('detalle_libro', id=8) }}"> 
            <img src="{{ url_for('static', filename='img/libro10.webp') }}" alt="Tan Poca Vida ">
        </a>

        <div class="libro_puntuacion">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>

        <div class="libro_precio">$5.990</div>
            <div class="botones_libro">
                <button class="btn_comprar">Comprar</button>
                <button class="btn_guardar"><img src="{{ url_for('static', filename='img/guardar_icon.png') }}"></button>
            </div>
    </div>
</div>

<div class="carrusel_item" data-categoria="ficcion">
    <div class="carrusel_detalles">
        <h3 class="libro_titulo">
            <a href="{{ url_for('detalle_libro', id=9) }}">Al Final Mueren Los Dos</a> 
        </h3>

        <a href="{{ url_for('detalle_libro', id=9) }}"> 
            <img src="{{ url_for('static', filename='img/libro13.webp') }}" alt="Al Final Mueren Los Dos">
        </a>

                    <div class="libro_puntuacion">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="libro_precio">$5.990</div>
                    <div class="botones_libro">
                        <button class="btn_comprar">Comprar</button>
                        <button class="btn_guardar"><img src="{{ url_for('static', filename='img/guardar_icon.png') }}"></button>
                    </div>
    </div>
</div>

<div class="carrusel_item" data-categoria="romance">
    <div class="carrusel_detalles">
        <h3 class="libro_titulo">
            <a href="{{ url_for('detalle_libro', id=10) }}">Los 7 Maridos De Evelyn Hugo</a> 
        </h3>

        <a href="{{ url_for('detalle_libro', id=10) }}"> 
            <img src="{{ url_for('static', filename='img/libro14.webp') }}" alt="Los 7 Maridos De Evelyn Hugo">
        </a>

        <div class="libro_puntuacion">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>

        <div class="libro_precio">$6.990</div>
            <div class="botones_libro">
                <button class="btn_comprar">Comprar</button>
                <button class="btn_guardar"><img src="{{ url_for('static', filename='img/guardar_icon.png') }}"></button>
            </div>
    </div>
</div>

<div class="carrusel_item" data-categoria="fantasia">
    <div class="carrusel_detalles">
        <h3 class="libro_titulo">
            <a href="{{ url_for('detalle_libro', id=11) }}">La Bibloteca De La Media Noche</a> 
        </h3>

        <a href="{{ url_for('detalle_libro', id=11) }}"> 
            <img src="{{ url_for('static', filename='img/libro15.webp') }}" alt="La Bibloteca De La Media Noche ">
        </a>

        <div class="libro_puntuacion">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>

        <div class="libro_precio">$6.990</div>
            <div class="botones_libro">
                <button class="btn_comprar">Comprar</button>
                <button class="btn_guardar"><img src="{{ url_for('static', filename='img/guardar_icon.png') }}"></button>
            </div>
    </div>
</div>

        </div>
    </div>

<!-- Indicadores - Flechas -->

    <button class="carrusel_btn prev"><i class="fas fa-chevron-left"></i></button>
    <button class="carrusel_btn next"><i class="fas fa-chevron-right"></i></button>
        <div class="indicadores">
            <div class="indicador"></div>
            <div class="indicador"></div>
        </div>
</div>

<!-- Banner -->

    <div class="banner">
        <img src="{{ url_for('static', filename='img/header1.png') }}" alt="Banner">
    </div>

<!-- Destacados de Ciencia Ficción -->

<div class="sub_titulo">Destacados de Ciencia Ficción</div>

    <div class="destacados_container">
        <div class="destacados">
            <div class="destacados_items">

<div class="destacados_item" data-categoria="ficcion">
                <img src="{{ url_for('static', filename='img/libro4.jpeg') }}">
                <div class="destacados_detalles">
                    <h3 class="libro_titulo">Destroza Me</h3>
                    <p class="libro_resumen">La piel de Juliette es mortal. La última vez que tocó a alguien, lo mató. Por eso lleva 264 días encerrada, sin tocar a nadie.</p>
                    <div class="libro_puntuacion"> 
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i></div>
                    <div class="libro_precio">$7.990</div>
                    <div class="botones_libro">
                        <button class="btn_comprar">Comprar</button>
                        <button class="btn_guardar"><img src="{{ url_for('static', filename='img/guardar_icon.png') }}"></button>
                    </div>
                </div>
</div>

<div class="destacados_item" data-categoria="ficcion">
                <img src="{{ url_for('static', filename='img/libro16.webp') }}">
                <div class="destacados_detalles">
                    <h3 class="libro_titulo">Dune</h3>
                    <p class="libro_resumen">Habitado por los monstruosos gusanos de arena de centenares de metros de longitud. Sin embargo, cuando la familia es traicionada, su hijo y heredero, Paul, emprenderá un viaje hacia un destino más grande del que jamás hubiese podido soñar.</p>
                    <div class="libro_puntuacion"> 
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i></div>                    
                        <div class="libro_precio">$7.990</div>
                    <div class="botones_libro">
                        <button class="btn_comprar">Comprar</button>
                        <button class="btn_guardar"><img src="{{ url_for('static', filename='img/guardar_icon.png') }}"></button>
                    </div>
                </div>
</div>

<div class="destacados_item" data-categoria="ficcion">
                <img src="{{ url_for('static', filename='img/libro7.png') }}">
                <div class="destacados_detalles">
                    <h3 class="libro_titulo">Cuento De Hadas</h3>
                    <p class="libro_resumen">Charlie Reade, un joven de 17 años que hereda las llaves de un reino oculto de otro mundo y se enfrenta batallas entre el bien y el mal</p>
                    <div class="libro_puntuacion"> 
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i></div>                    
                        <div class="libro_precio">$5.990</div>
                    <div class="botones_libro">
                        <button class="btn_comprar">Comprar</button>
                        <button class="btn_guardar"><img src="{{ url_for('static', filename='img/guardar_icon.png') }}"></button>
                    </div>
                </div>
</div>

<div class="destacados_item" data-categoria="ficcion">
                <img src="{{ url_for('static', filename='img/libro11.jpg') }}">
                <div class="destacados_detalles">
                    <h3 class="libro_titulo">De Sangres y Cenizas</h3>
                    <p class="libro_resumen"> La historia sigue a Poppy, una joven que ha sido elegida para ser la Doncella, una figura sagrada que debe sacrificarse para mantener a salvo a su reino.</p>
                    <div class="libro_puntuacion"> 
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i></div>                    
                        <div class="libro_precio">$6.990</div>
                    <div class="botones_libro">
                        <button class="btn_comprar">Comprar</button>
                        <button class="btn_guardar"><img src="{{ url_for('static', filename='img/guardar_icon.png') }}"></button>
                    </div>
                </div>
</div>

<div class="destacados_item" data-categoria="ficcion">
                <img src="{{ url_for('static', filename='img/libro17.webp') }}">
                <div class="destacados_detalles">
                    <h3 class="libro_titulo">Yo, Robot</h3>
                    <p class="libro_resumen">En el año 2035, los robots son parte de la vida cotidiana. Cuando la confianza en ellos se rompe, sólo un hombre contra todo el sistema lo ve venir.</p>
                    <div class="libro_puntuacion"> 
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i></div>                   
                        <div class="libro_precio">$7.990</div>
                    <div class="botones_libro">
                        <button class="btn_comprar">Comprar</button>
                        <button class="btn_guardar"><img src="{{ url_for('static', filename='img/guardar_icon.png') }}"></button>
                    </div>
                </div>
</div>

<div class="destacados_item" data-categoria="ficcion">
                <img src="{{ url_for('static', filename='img/libro18.webp') }}">
                <div class="destacados_detalles">
                    <h3 class="libro_titulo">El marciano</h3>
                    <p class="libro_resumen">Mark Watney, es dado por muerto por su tripulación, en una misión en el planeta Marte, al poco tiempo del despegue de la nave Mark se da cuenta que se ha quedado solo en Marte y tiene que usar todo su ingenio y su entrenamiento para sobrevivir en planeta Marte.</p>
                    <div class="libro_puntuacion"> 
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i></div>                    
                        <div class="libro_precio">$5.990</div>
                    <div class="botones_libro">
                        <button class="btn_comprar">Comprar</button>
                        <button class="btn_guardar"><img src="{{ url_for('static', filename='img/guardar_icon.png') }}"></button>
                    </div>
                </div>
</div>



            </div>
        </div>
        <button class="destacados_btn prev"><i class="fas fa-chevron-left"></i></button>
        <button class="destacados_btn next"><i class="fas fa-chevron-right"></i></button>
    </div>

    <div class="modal" id="modalRegistro">
        <div class="modal_contenido">
            <div class="registro_container">
                <h2>Registrarse</h2>
                <form action="{{ url_for('registro') }}" method="POST">
                    <input type="text" name="nombre" placeholder="Nombre" required>
                    <input type="email" name="email" placeholder="Correo electrónico" required>
                    <input type="password" name="password" placeholder="Contraseña" required>
                    <p>¿Ya tienes una cuenta? <a href="#" onclick="mostrarRegistro()">Iniciar Sesión</a></p>
                    <div class="social_registro">
                        <span>Iniciar con:</span>
                        <div class="social_icons">
                            <i class="fab fa-google"></i>
                            <i class="fab fa-facebook"></i>
                        </div>
                    </div>
                    <button type="submit">Crear cuenta</button>
                </form>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html> 